<% if section_title.present? %>
  <h2 class="sub-header"> <%= section_title  %></h2>
<% end %>
<!--  -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th width='80%'>目錄名稱</th>
        <th width='20%' class='text-center'>操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'table_row', collection: @categories, as: :category %>
    </tbody>
  </table>
</div>
