<tr>
  <td>
    <%= link_to category.name, category_path(category) %>
  </td>
  <td class='text-center'>
    <%= link_to '編輯', edit_category_path(category), role: 'button', class: 'btn btn-info', data: { no_turbolink: true } %>
    <%= link_to '刪除', category_path(category), role: 'button', class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
