<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->

<header class="intro-header" style="<%= %Q( background-image: url(#{image_path('blogg/frontend/blog/home-bg.jpg')}) ) %>" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">

        <%= render partial: 'blogg/frontend/posts/preview_block', collection: @posts, as: :post %>

        <%= paginate @posts %>
        <br>
      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-lg-4 col-md-4">
          <%= render partial: 'blogg/frontend/common/search_block' %>

          <%= render partial: 'blogg/frontend/common/categories_tree' %>

          <!-- Side Widget Well -->
          <div class="well">
              <h4>Tags</h4>
              <p>
                <%# tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                  <%# link_to tag.name, tag_posts_path(tag.name) , :class => css_class %>
                <%# end %>
                <% @tags.each do |tag| %>
                  <%= link_to tag.name, blogg.tag_posts_path(tag.name) %>
                <% end %>
              </p>
          </div>
      </div>

    </div>
</div>
