<!-- left sidebar -->
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link_to 'Category', backend_categories_path %></li>
    <li><%= link_to 'Post', backend_posts_path %></li>
    <li></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li></li>
  </ul>
</div><!-- end left sidebar -->
