<div class="post-preview">

    <%= link_to blogg.post_path(post) do %>
      <h2 class="post-title">
          <%= post.title %>
      </h2>

      <h3 class="post-subtitle">
          <%=  truncate(post.description, length: 50, omission: "...") %>
      </h3>
    <% end %>
    <p class="post-meta"> <%= "Posted on #{post.created_at.strftime(%Q(%d %b, %Y))}" %></p>

</div>
<hr>
